<ul class="group">
  <li class="overlay-header-left"><h3>Adding a card to <%= board.escape('title') %></h3></li>
  <li class="overlay-header-right"><a href="#" class="close-modal-link"><img src="<%= Pinless.close %>" class="close-modal-image"></a></li>
</ul>
<form class="add-card-form overlay-form" enctype="multipart/form-data">
  <input type="hidden" name="card[board_id]" value="<%= board.escape('id') %>">
  
  <input type="text" placeholder="Title" name="card[title]" pattern=".{3,}" class="req-data" required>
  <br>

  <textarea name="card[description]" placeholder="Description" rows="5"></textarea>
  <br>

  <input type="file" name="card[image]" id="image-file-input" class="req-data" required>
  <br>

  <input type="submit" class="submit-button" value="Submit">
</form>
