<ul class="board-profile group">
  <li><img src="<%= board.escape('avatar') %>" height="100" class="board-profile-avatar"></li>
  <li><h2 class="profile-title"><%= board.escape('title') %></h2></li>
</ul>

<a href="#" class="add-card-link" data-id="<%= board.escape('id') %>">Add A Card!</a>