<li class="user content-list-item">
<% console.log(request) %>
  <ul class="user-details content-list-item-details">
    <li><a href="#/users/<%= request.user_id %>"><img src="<%= request.avatar %>" width="150" class="user-image"></li>
    <li class="user-title"><%= request.username %></li></a>
  </ul>
</li>