<h2><%= user.escape('username') %></h2>
<a href="#" data-id="<%= user.escape('id') %>" class="user-boards-link"><%= user.escape('username') %>'s Boards</a>
<a href="#" class="user-cards-link"><%= user.escape('username') %>'s Cards</a>