<li class="user content-list-item">
  <ul class="user-details content-list-item-details">
    <li><a href="#/users/<%= user.escape('id') %>"><img src="<%= user.escape('avatar') %>" width="150" class="user-image"></li>
    <li class="user-title"><%= user.escape('username') %></li></a>
  </ul>
</li>