<li class="user content-list-item">
  <ul class="user-details content-list-item-details">
    <a href="#/users/<%= user.escape('id') %>"><li><img src="<%= user.escape('image') %>" width="150"></li>
    <li><%= user.escape('username') %></a></li>
  </ul>
</li>