<section class="info">
  <ul class="group">
    <li class="info-left"><img class="info-avatar" src="<%= @user.avatar.url %>"</li>
    <li class="info-left"><h2 class="info-username"><%= @user.username %></h2></li>
    <li class="info-right"><a href="#">Add As Friend</a></li>
  </ul>
</section>