<header class="top-header">
  <ul class="top-header-list group">
    <li class="top-header-left">
      <ul class="top-header-left-list group">
        <a href="#">P</a>
        <input type="text" class="search-box">
      </ul>
    </li>
    <li class="top-header-right">
      <%= button_to "Logout", session_url, method: :delete %>
    </li>
    <li class="top-header-right">
      <a href="#" class="user-dropdown">Username</a>
    </li>
    <h2 class="logo">Pinless</h2>
  </ul>
</header>