<%= render partial: "static/header" %>

<div id="content"></div>

<script>
$(document).ready(function () {
  $('#content').on('click', '.user-boards-link', function (event) {
    event.preventDefault();
    Pinless.router.navigate("#/users/" + event.currentTarget.dataset.id + "/boards", {trigger: true});
  });

  $('#content').on('click', '.user-cards-link', function (event) {
    event.preventDefault();
    Pinless.router.navigate("#/users/" + event.currentTarget.dataset.id + "/cards", {trigger: true});
  });

  $('#content').on('click', '.user-liked-boards-link', function (event) {
    event.preventDefault();
    Pinless.router.navigate("#/users/" + event.currentTarget.dataset.id + "/boards/liked", {trigger: true});
  });

  $('#content').on('click', '.user-liked-cards-link', function (event) {
    event.preventDefault();
    Pinless.router.navigate("#/users/" + event.currentTarget.dataset.id + "/cards/liked", {trigger: true});
  });

  $('#content').on('click', '.user-friends-link', function (event) {
    event.preventDefault();
    Pinless.router.navigate("#/users/" + event.currentTarget.dataset.id + "/friends", {trigger: true});
  });
});
</script>