<%= render partial: "static/header" %>

<div id="content"></div>

<div class="overlay">
  <div class="overlay-content">
  </div>
</div>

<script>
$(document).ready(function () {
  currentUserId = <%= current_user.id %>;

  $('#content').on('click', '.user-boards-link', function (event) {
    event.preventDefault();
    Pinless.router.navigate("#/users/" + event.currentTarget.dataset.id + "/boards", {trigger: true});
  });

  $('#content').on('click', '.user-cards-link', function (event) {
    event.preventDefault();
    Pinless.router.navigate("#/users/" + event.currentTarget.dataset.id + "/cards", {trigger: true});
  });

  $('#content').on('click', '.user-liked-boards-link', function (event) {
    event.preventDefault();
    Pinless.router.navigate("#/users/" + event.currentTarget.dataset.id + "/boards/liked", {trigger: true});
  });

  $('#content').on('click', '.user-liked-cards-link', function (event) {
    event.preventDefault();
    Pinless.router.navigate("#/users/" + event.currentTarget.dataset.id + "/cards/liked", {trigger: true});
  });

  $('#content').on('click', '.user-friends-link', function (event) {
    event.preventDefault();
    Pinless.router.navigate("#/users/" + event.currentTarget.dataset.id + "/friends", {trigger: true});
  });

  $('#content').on('click', '.add-card-link', function (event) {
    event.preventDefault();
    Pinless.router.addCardModal(event.currentTarget.dataset.id);
  });

  $('.overlay').on('click', '.close-modal-link', function (event) {
    event.preventDefault();
    Pinless.router.hideModal();
  });
});
</script>