<%= render partial: "static/header" %>

<div id="sub-header"></div>
<div id="content" class="group"></div>

<div class="overlay">
  <div class="overlay-content"></div>
</div>

<script>
  window.currentUserId = <%= current_user.id %>;

  $(document).ready(function () {
    $('#sub-header').on('click', '.user-boards-link', function (event) {
      event.preventDefault();
      Pinless.router.navigate("#/users/" + event.currentTarget.dataset.id + "/boards", {trigger: true});
    });

    $('#sub-header').on('click', '.user-cards-link', function (event) {
      event.preventDefault();
      Pinless.router.navigate("#/users/" + event.currentTarget.dataset.id + "/cards", {trigger: true});
    });

    $('#sub-header').on('click', '.user-liked-boards-link', function (event) {
      event.preventDefault();
      Pinless.router.navigate("#/users/" + event.currentTarget.dataset.id + "/boards/liked", {trigger: true});
    });

    $('#sub-header').on('click', '.user-liked-cards-link', function (event) {
      event.preventDefault();
      Pinless.router.navigate("#/users/" + event.currentTarget.dataset.id + "/cards/liked", {trigger: true});
    });

    $('#sub-header').on('click', '.user-friends-link', function (event) {
      event.preventDefault();
      Pinless.router.navigate("#/users/" + event.currentTarget.dataset.id + "/friends", {trigger: true});
    });

    $('.overlay').on('click', '.close-modal-link', function (event) {
      event.preventDefault();
      Pinless.router.hideModal();
    });

    $('#content').on('click', '.card-image', function (event) {
      console.log("clicked");
    });

    $('.search-button').on('click', function (event) { 
      var terms = $('.search-box').val();
      Pinless.router.navigate("#/search?q=" + terms, {trigger: true});
    });

    $(".search-box").keyup(function(event){
      if (event.keyCode == 13) {
        $(".search-button").click();
      }
    });
  });
</script>