<%= render partial: "static/header" %>

<div id="sub-header"></div>
<div id="content" class="group"></div>

<div class="overlay">
  <div class="overlay-content loading"></div>
  <div class="card-modal"></div>
  <div class="add-board-modal"></div>
</div>

<script>
  window.currentUserId = <%= current_user.id %>;
  window.heart = "<%= asset_path("heart.png") %>";
  window.close = "<%= asset_path("close.png") %>"; 
</script>