<%= render partial: "static/header" %>

<section id="content">
  <ul class="group">
  <% @boards.each do |board| %>
    <a href="<%= board_url(board) %>">
      <li class="board content-list-item">
        <ul class="board-details content-list-item-details">
          <li><img src="<%= board.avatar.url %>" width="150"></li>
          <li><%= board.title %></li>
        </ul>
      </li>
    </a>
  <% end %>
  </ul>
</section>