<section id="content">
  <li class="card content-list-item">
    <ul class="card-details content-list-item-details">
      <li><%= @card.title %></li>
      <li><img src="<%= @card.img_url %>" width="150"></li>
      <li><%= @board.title %></li>
      <li><%= @user.username %></li>
    </ul>
  </li>
</section>