html, body, header, h1, h2, h3, ul, li, a, img, hr, p {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

img {
  display: block;
}

input, button, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  outline: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

a {
  text-decoration: none
}

#sub-header {
  margin-top: 20px;
}

/* SIGNIN FORM */

.signin-form {
  position: absolute;
  height: 260px;
  width: 200px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.signin-form h2 {
  text-align: center;
  font-size: 24px;
  padding: 0 10px 10px 10px;
  color: #777;
}

.signin-text {
  display: block;
  margin: 0 auto;
  width: 150px;
  border-bottom: 1px solid #60BBD6;
  padding: 5px 10px;
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
  color: #777;
}

.signin-text:focus {
  outline: none;
}

.signin-button {
  padding: 10px 15px;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  width: 170px;
  color: #fff;
  background: #6BCFED;
  border: 2px solid transparent;
  border-radius: 2px;
}

.signin-button:hover {
  border: 2px solid #60BBD6;
}

.signin-button:focus {
  outline: none;
}

.signin-button:active {
  position: relative;
  top: 2px;
}

.line-and-or {
  position: relative;
}

.line-and-or hr {
  height: 1px;
  background: #ccc;
  margin-bottom: 20px;
}

.or {
  display: block;
  position: absolute;
  top: -6px;
  left: 43%;
  padding: 0 5px;
  background: #fff;
  font-size: 12px;
  font-style: italic;
  color: #777;
}

.fb-signin img {
  width: 170px;
  display: block;
  margin: 0 auto;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.fb-signin img:active {
  position: relative;
  top: 2px;
}

/* HEADER */

.top-header {
  background: #fff;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.header-left {
  padding: 10px 0px 10px 20px;
  float: left;
}

.search-box {
  border: 1px solid #ccc;
  border-right: none;
  font-size: 14px;
  padding: 5px 5px;
  border-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-box:focus {
  border: 1px solid #60BBD6;
  border-right: none;
}

.search-button {
  border: 1px solid #ccc;
  border-left: none;
  background: #60BBD6;
  color: #fff;
  margin-left: -20px;
  padding: 5px 5px 5px 5px;
  font-size: 14px;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
}

.search-button-focus {
  border: 1px solid #60BBD6;
  border-left: none;
}

.header-right {
  float: right;
  padding: 10px 20px 10px 0;
}

.logo {
  position: absolute;
  left: 50%;
  padding-top: 5px
}

.user-stuff {
  cursor: pointer;
  position: relative;
  border: 1px solid #ccc;
  width: 150px;
  border-radius: 3px;
}

.user-stuff:hover .dropdown-menu {
  display: block;
}

.header-right-left {
  float: left;
}

.header-right-right {
  float: right;
}

.header-avatar {
  display: block;
}

.header-username {
  display: inline-block;
  padding: 5px 5px 0 5px;
}

.dropdown-menu {
  position: absolute;
  display: none;
  right: -1px;
  top: 30px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.dropdown-menu > li {
  text-align: right;
  display: block;
  width: 150px;
}

.dropdown-menu > li > a {
  color: #777;
  padding: 5px 5px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  display: block;
}

.dropdown-menu > li > a:hover {
  background: #60BBD6;
  color: #fff;
}

.logout-button {
  border: none;
  padding: 5px 5px;
  color: #777;
  background: #fff;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  display: block;
  cursor: pointer;
  width: 150px;
  text-align: right;
}

.logout-button:hover {
  background: #60BBD6;
  color: #fff;
}

.logout-button:active,
.logout-button:focus {
  outline: none;
}

/* USER INFO */

.user-info {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
}

.user-profile {
  width: 700px;
  height: 150px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.profile-left {
  float: left;
}

.profile-right {
  float: right;
  padding: 5px 10px;
}

.user-profile-avatar {
  height: 150px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.user-links {
  display: inline-block;
  text-align: center;
}

.user-links > li {
  float: left;
  text-align: center;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.user-links > li > a {
  padding: 10px 15px 10px 15px;
  display: block;
  color: #777;
}

.user-links > li > a:hover,
.user-links > li > a.user-links-selected {
  background: #60BBD6;
  color: #fff;
}

.user-links > li:first-child {
  border-left: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.user-links > li:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* BOARD INFO */

.board-info {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
}

.board-profile {
  width: 700px;
  height: 150px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.board-profile-avatar {
  height: 150px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* CONTENT */

#content {
  width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
}

.overlay {
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 10000;
}

.overlay-show {
  visibility: visible;
}

.content-list-item {
  width: 170px;
  border: 2px solid #ccc;
  float: left;
  border-radius: 3px;
  margin: 10px;
}

.content-list-item-details {
  padding: 10px;
}

/* MODAL */

.overlay-content {
  position: absolute;
  margin: auto;
  visibility: inherit;
  width: 400px;
  height: 330px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ccc;
  /*-moz-box-shadow: 3px 3px 3px #777;
  -webkit-box-shadow: 3px 3px 3px #777;
  box-shadow: 3px 3px 3px #777;*/
}

.overlay-content ul {
  padding: 20px;
  background: #60BBD6;
  color: #fff;
}

.overlay-header-left {
  float: left;
}

.overlay-header-right {
  float: right;
}

.overlay-form {
  padding: 20px;
}

.overlay-form input, textarea {
  width: 340px;
  display: block;
  font-size: 16px;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.overlay-form .submit-button {
  font-size: 16px;
  display: block;
  width: 100px;
  color: #fff;
  background: #6BCFED;
  border: 2px solid transparent;
  border-radius: 2px;
  float: right;
}

.close-modal-image {
  height: 12px;
  margin-top: 5px;
  opacity: 0.5;
}

.close-modal-image:hover {
  opacity: 1.0;
}