<!DOCTYPE html>
<html ng-app="pinlessApp">
<head>
  <title>Pinless</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
